
<%= render "layouts/navbar" %>

<h2 id="titleProgramasArea">Fichas del programa <%= @programa.nombre %></h2>

<section id="IndexProgramasArea">
  <aside class="AsideAreaProgramas">
    <div class="LinkAreas" id="LinkAreas">
      <i class="fa fa-chevron-circle-left" aria-hidden="true" id="Icono"></i>
      <%= link_to "Regresar", areas_path, method: :get, class: "IndexArea"%>
    </div>
    <div class="LinkAreas" id="LinkAreas">
      <i class="fa fa-plus-circle" aria-hidden="true" id="Icono"></i>
      <%= link_to "Registrar ficha", new_programa_curso_url, method: :get, class:
      "IndexArea"%>
    </div>
  </aside>
  <table id="tablaProgramasArea">
    <thead>
      <tr id="headTable"> 
        <td id="line1">Ficha</td>
      </tr>
    </thead>
    <tbody>
      <%= render @cursos  %>
    </tbody>
  </table>
</section>

<%= render "layouts/footer" %>
