<!DOCTYPE html>
<html>
  <head>
    <title>AppRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="vistaInicio">
    <main>

      <%= yield %>

        <!--  <p class="notice" style="color:green;"><%= notice %></p>
        <p class="alert" style="color:red;"><%= alert %></p> -->
    </main>
  </body>
</html>
